ul{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2vw;
    max-width: 500px;
    padding:0;
    margin:auto;
    li{
        list-style-type:none;
        text-align: center;
        cursor: pointer;
    }
    li:hover{
        transform: scale(1.1);
        transition: 0.2s;
    }
}
h1{
    width:100vw;
    text-align:center;
    display: block;
    margin: 3vw;
}
a{
    margin:3vw auto;
}